<h1 class="page-title">Наеми</h1>

<div class="card-apartament">
    {{#each rents}}
    <div class="card" style="width: 18rem;">
        <img src="{{this.img1}}"
            class="card-img-top" alt="..." style="width: 100%; height: 180px">
        <div class="card-body">
            <h5 class="card-title">{{this.type}}</h5>
            <p class="card-text">{{this.location}}</p>
            <p class="card-text">{{this.price}}</p>
            <a href="#" class="btn btn-primary">Редактиране</a>
            <a href="/delete/{{this._id}}" class="btn btn-primary">Изтриване</a>
        </div>
    </div>
    {{else}}
    <p>Няма създадени имоти под наем</p>
    {{/each}}
</div>

<div id="create-rent">
    <a href="/admin/createRent" class="btn btn-primary">Създаване на имот под наем</a>
</div>