<h1 class="page-title">Продажби</h1>

<div class="card-apartament">
    {{#each sales}}
    <div class="card" style="width: 18rem;">
        <img src="{{this.img1}}"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.type}}</h5>
            <p class="card-text">{{this.location}}</p>
            <p class="card-text">{{this.price}}</p>

            <a href="#" class="btn btn-primary">Редактиране</a>
            <a href="/deleteSale/{{this._id}}" class="btn btn-primary">Изтриване</a>
        </div>
    </div>
    {{else}}
    <p>Няма създадени имоти за продажба</p>
    {{/each}}
</div>

<div id="create-rent">
    <a href="/admin/createSale" class="btn btn-primary">Създаване на имот за продажба</a>
</div>
