<h1 class="page-title">Резервации</h1>

<ul class="list-group">
    {{#each users}}
    <a href="/visit/reservation/{{this._id}}"><li class="list-group-item">{{this.names}}</a> <a href="/check/reservation"><i class="fa-solid fa-check mark"></i></a></li>
    {{else}}
    <li class="list-group-item">Няма направени резервации</li>

    {{/each}}
</ul>
<a href="/user/owner/{{userId}}">{{this.names}}</a>