<h1 class="page-title">Количка</h1>

{{#each cartData}}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{this.img1}}"
                class="img-fluid rounded-start" alt="Image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{this.type}}</h5>
                <p class="card-text">{{this.priceForHour}}</p>
                <a href="/removeFromCart/{{this._id}}" class="btn btn-primary" style="background-color: #FC5C5C; border-color:beige">Премахни</a>
            </div>
        </div>
    </div>
</div>
{{else}}
<p>Количката е празна</p>
{{/each}}

<a href="/reserve" class="btn btn-primary">Запази час за оглед</a>