{{#each property}}
<div class="card" style="width: 18rem;">
    <img src="{{this.img1}}" class="card-img-top" alt="Important image">
    <div class="card-body">
        <h5 class="card-title">{{this.type}}</h5>
        <p class="card-text">{{this.quadrature}}</p>
        <p class="card-text">{{this.price}}</p>
        <a href="#" class="btn btn-primary">Галерия</a>
    </div>
</div>
{{else}}
<p>Няма имоти</p>
{{/each}}