<div class="container-products">
    <h1 id="favourites-title">Любими продукти</h1>

    {{#each favouritesData}}
    <div class="product">
        <img src="{{this.img1}}" alt="Продукт" id="favourrite-img">
        <h2>{{this.type}}</h2>
        <p>Местоположение: {{this.location}}</p>
        <p>Адрес: {{this.address}}</p>
        <a href="/removeFromFavourites/{{this._id}}" class="btn btn-primary"
            style="background-color: #FC5C5C; border-color: beige">Премахни</a>
    </div>
    {{else}}
    <p>Няма добавени продукти в любими</p>
    {{/each}}

</div>