<div class="container-products">
    <h1 id="favourites-title">Любими продукти</h1>
    
    {{#each favouritesData}}
    <div class="product">
        <img src="{{this.img1}}" alt="Продукт" id="favourrite-img">
        <h2>{{this.type}}</h2>
        <p>Местоположение: {{this.location}}</p>
        <p>Адрес: {{this.address}}</p>

    </div>
    {{else}}
    <p>Няма добавени продукти в любими</p>
    {{/each}}

</div>
