<h1 class="page-title">Галерия</h1>

<p>Тип на имота: {{rentData.type}}</p>
<p>Местоположение: {{rentData.location}}</p>
<p>Адрес: {{rentData.address}}</p>
<p>Брой етажи: {{rentData.floors}}</p>
<p>Брой стаи: {{rentData.rooms}}</p>
<p>Квадтратура: {{rentData.squareMeters}}</p>
<p>Цена: {{rentData.price}}</p>
<p>Цена за оглед: {{rentData.priceForHour}}</p>
<img src="{{rentData.img1}}" alt="img1">
<img src="{{rentData.img2}}" alt="img2">
<img src="{{rentData.img3}}" alt="img3">
<img src="{{rentData.img4}}" alt="img4">
<img src="{{rentData.img5}}" alt="img5">

<section>

<a href="#" class="btn btn-primary">Добавете в количката</a>
</section>