<h1 class="page-title">Наеми</h1>

<!-- Добавете формата за филтриране горе на страницата -->
<form id="filterForm">
    <label>Тип:
        <select name="type">
            <option value="">Всички</option>
            <option value="апартамент">Апартамент</option>
            <option value="къща">Къща</option>
            <!-- Добавете други опции, ако е необходимо -->
        </select>
    </label>

    <label>Местоположение:
        <select name="location">
            <option value="">Всички</option>
            <option value="София">София</option>
            <option value="Пловдив">Пловдив</option>
            <!-- Добавете други опции, ако е необходимо -->
        </select>
    </label>

    <!-- Добавете други полета на формата, ако е необходимо -->

    <button type="button" id="applyFilters" class="btn btn-primary">Филтрирай</button>
</form>

<div class="card-apartament">
    {{#each rents}}
    <div class="card" style="width: 18rem;">
        <img src="{{this.img1}}" class="card-img-top" alt="..." style="width: 100%; height: 180px">
        <div class="card-body">
            <h5 class="card-title">{{this.type}}</h5>
            <p class="card-text">гр./с. {{this.location}}</p>
            <p class="card-text">Цена: {{this.price}}</p>
            <p class="card-text">Цена за оглед: {{this.priceForHour}}</p>

            <a href="/rent/gallery/{{this._id}}" class="btn btn-primary">Галерия</a>
        </div>
    </div>
    {{else}}
    <p>Няма създадени имоти</p>
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        $("#applyFilters").on("click", function() {
            var formData = $("#filterForm").serialize();

            // Изпращане на GET заявка с параметри за филтриране
            $.ajax({
                url: "/filterRents",
                method: "GET",
                data: formData,
                success: function(response) {
                    // Обновете съдържанието на .card-apartament с новите данни
                    $(".card-apartament").html(response);
                },
                error: function(error) {
                    console.error("Грешка при изпращане на GET заявка:", error);
                }
            });
        });
    });
</script>
