<h1 class="page-title">Приключване на резервацията</h1>

<div class="reserve-form">
    <form action="/user/reserve" method="POST" id="reserve-form">
        {{#each data}}
        <input type="hidden" value="{{this.type}}" name="type">
        <input type="hidden" value="{{this.location}}" name="location">
        <input type="hidden" value="{{this.address}}" name="address">
        <input type="hidden" value="{{this.floors}}" name="floors">
        <input type="hidden" value="{{this.rooms}}" name="rooms">
        <input type="hidden" value="{{this.squareMeters}}" name="squareMeters">
        <input type="hidden" value="{{this.price}}" name="price">
        <input type="hidden" value="{{this.priceForHour}}" name="priceForHour">
        <input type="hidden" value="{{this.img1}}" name="img1">
        <input type="hidden" value="{{this.img2}}" name="img2">
        <input type="hidden" value="{{this.img3}}" name="img3">
        <input type="hidden" value="{{this.img4}}" name="img4">
        <input type="hidden" value="{{this.img5}}" name="img5">

        {{/each}}

        <section id="loginForm">
            <div class="contact mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <h3>Приключване на резервацията</h3>

                            <form action="/user/login" method="POST" id="login">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="names" class="form-label">Име и фамилия</label>
                                        <input type="text" class="form-control" id="names"
                                            placeholder="Въведете името си" name="names" required>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="date" class="form-label">Дата за оглед</label>
                                        <input type="date" class="form-control" id="date" placeholder="01.01.2024"
                                            name="date" required>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="time" class="form-label">Час за оглед</label>
                                        <input type="time" class="form-control" id="time" placeholder="10:00"
                                            name="time" required>
                                    </div>

                                    <div class="mt-3 mb-5">
                                        <button class="btn text-white bg-dark px-3 btn-lg rounded-0">Изпрати</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
</div>