<h1 class="page-title">Продажби</h1>

<div class="card-apartament">
    {{#each sales}}
    <div class="card" style="width: 18rem;">
        <img src="{{this.img1}}" class="card-img-top" alt="..." style="width: 100%; height: 180px">
        <div class="card-body">
            <h5 class="card-title">{{this.type}}</h5>
            <p class="card-text">гр./с. {{this.location}}</p>
            <p class="card-text">Цена: {{this.price}}</p>
            <p class="card-text">Цена за оглед: {{this.priceForHour}}</p>

            <a href="/sales/gallery/{{this._id}}" class="btn btn-primary">Галерия</a>
        </div>
    </div>
    {{else}}
    <p>Няма създадени имоти</p>
    {{/each}}
</div>