<div class="user-profile-container">
    <h1 id="userProfileTitle">Профил на потребителя</h1>
    <div class="profile">
        <img src="{{user.profileImg}}" alt="User Avatar">
        <div class="profile-info">
            <h2>{{user.username}}</h2>
            <p>Email: {{user.email}}</p>
            <p>Възраст: {{user.ages}}</p>
            <p>Местоположение: {{user.location}}</p>
        </div>
    </div>
    <div id="interests">
    <h2>Интереси</h2>
    <p>{{user.interests}}</p>

    <a href="/favourites" id="favourites-link">Любими имоти</a>
    </div>

</div>