<h1 class="page-title">Галерия</h1>

<p>Тип на имота: {{saleData.type}}</p>
<p>Местоположение: {{saleData.location}}</p>
<p>Адрес: {{saleData.address}}</p>
<p>Брой етажи: {{saleData.floors}}</p>
<p>Брой стаи: {{saleData.rooms}}</p>
<p>Квадтратура: {{saleData.squareMeters}}</p>
<p>Цена: {{saleData.price}}</p>
<p>Цена за оглед: {{saleData.priceForHour}}</p>
<img src="{{saleData.img1}}" alt="img1">
<img src="{{saleData.img2}}" alt="img2">
<img src="{{saleData.img3}}" alt="img3">
<img src="{{saleData.img4}}" alt="img4">
<img src="{{saleData.img5}}" alt="img5">

<section id="cartAdding">
<form action="/addToCart" method="POST">
    <input type="hidden" value="{{saleData.type}}" name="type">
    <input type="hidden" value="{{saleData.location}}" name="location">
    <input type="hidden" value="{{saleData.address}}" name="address">
    <input type="hidden" value="{{saleData.floors}}" name="floors">
    <input type="hidden" value="{{saleData.rooms}}" name="rooms">
    <input type="hidden" value="{{saleData.squareMeters}}" name="squareMeters">
    <input type="hidden" value="{{saleData.price}}" name="price">
    <input type="hidden" value="{{saleData.priceForHour}}" name="priceForHour">
    <input type="hidden" value="{{saleData.img1}}" name="img1">
    <input type="hidden" value="{{saleData.img2}}" name="img2">
    <input type="hidden" value="{{saleData.img3}}" name="img3">
    <input type="hidden" value="{{saleData.img4}}" name="img4">
    <input type="hidden" value="{{saleData.img5}}" name="img5">
    
    <button type="submit" class="btn btn-primary">Добави в количката</button>
</form>
</section>             