<h1 class="page-title">Наеми</h1>

<form action="/user/filterRent" method="POST" id="'filtered'">
    <div class="mb-3">
        <label for="type" class="form-label">Тип</label>
        <input type="text" class="form-control" id="type" placeholder="Въведете потребителско име" name="type">
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Местоположение</label>
        <input type="text" class="form-control" id="location" placeholder="Въведете парола" name="location">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Филтрирай</button>
    </div>
</form>
<div class="card-apartament">
    {{#each rents}}
    <div class="card" style="width: 18rem;">
        <img src="{{this.img1}}" class="card-img-top" alt="..." style="width: 100%; height: 180px">
        <div class="card-body">
            <h5 class="card-title">{{this.type}}</h5>
            <p class="card-text">гр./с. {{this.location}}</p>
            <p class="card-text">Цена: {{this.price}}</p>
            <p class="card-text">Цена за оглед: {{this.priceForHour}}</p>

            <a href="/rent/gallery/{{this._id}}" class="btn btn-primary">Галерия</a>
        </div>
    </div>
    {{else}}
    <p>Няма създадени имоти</p>
    {{/each}}
</div>